/* Footer.css */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #333;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 10px; /* Add some space below the logo */
  }
  
  .footer-links, .footer-social {
    margin-bottom: 10px; /* Add space between links and social icons */
  }
  
  .footer-links a, .footer-social a {
    color: #333;
    text-decoration: none;
    margin: 0 10px; /* Add horizontal margin to links */
  }
  
  .footer-links a:hover, .footer-social a:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (min-width: 768px) {
    .footer-content {
      flex-direction: row;
    }
  
    .footer-links, .footer-social {
      margin-bottom: 0; /* Remove margin between links and social icons */
    }
  }
  